page-home {
    h4.course-category {
        font-size: 15px;
        background: rgb(0, 155, 134);
    }

    .select-text {
        font-weight: bold;
        font-size: 18px;
        margin-left: 16px;
    }

    .item-md {
      padding-left: 0;
    }


}

