<ion-header>
  <ion-navbar color="app-blue">
    <ion-title color="light">Courses</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item *ngFor="let subject of subjects">
      <button ion-item no-lines class="item-btn" (click)="subjectSelected(subject)">{{ subject.name }}</button>
      <ion-icon item-end name="star" isActive="true" (click)="addToList(subject.id)" class="star" *ngIf="checkListed(subject.id)" ></ion-icon>
      <ion-icon item-end name="star" isActive="true" (click)="addToList(subject.id)" class="normal" *ngIf="!checkListed(subject.id)" ></ion-icon>
    </ion-item>

  </ion-list>

</ion-content>
