page-subjects {
    .normal {
        color: gray;
        cursor: pointer;
    }

    .star {
        color: red;
        cursor: pointer;
    }

    .item-btn {
        border-bottom: 0px solid #333;
    }
}
